pipeline/required_pipeline.json
{
	"name": "required_pipeline",
	"properties": {
		"activities": [
			{
				"name": "FetchHandShakeValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.parquet"
						}
					},
					"dataset": {
						"referenceName": "Handshake",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Data Flow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "FetchHandShakeValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "required_data_flow",
						"type": "DataFlowReference",
						"datasetParameters": {
							"HC01CareerStage": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01Employee": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01EmployeePosition": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01OrgBusiness": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01Person": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01PersonCareerStage": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HC01ReportsToHierarchyTree": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							},
							"HCH01JobFunction": {
								"HandShakeValue": {
									"value": "@activity('FetchHandShakeValue').output.firstRow.LatestFolderName",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"annotations": []
	}
}